<style>
  /* Blank-canvas reset for Webflow framework styles. */

  /* =====================================
  Global Reset
  ===================================== */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* =====================================
  Rich Text Reset
  ===================================== */

  .w-richtext > :first-child {
    margin-top: 0;
  }

  .w-richtext > :last-child,
  .w-richtext ol li:last-child,
  .w-richtext ul li:last-child {
    margin-bottom: 0;
  }

  :where(.w-button) {
    color: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    line-height: inherit;
    font: inherit;
    text-decoration: none;
    box-shadow: none;
  }

  :where(.w-form) {
    margin: 0;
  }

  :where(.w-form-done, .w-form-fail) {
    margin: 0;
    padding: 0;
    background: none;
    color: inherit;
    border: 0;
  }

  :where(.w-input, .w-select, .w-textarea) {
    width: 100%;
    min-height: 0;
    height: auto;
    margin: 0;
    padding: 0;
    color: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    appearance: none;
  }

  :where(.w-form-label) {
    display: block;
    margin: 0;
    color: inherit;
    font: inherit;
    font-weight: inherit;
  }

  :where(.w-radio, .w-checkbox) {
    margin: 0;
    padding-left: 0;
  }

  :where(.w-radio-input, .w-checkbox-input) {
    float: none;
    margin: 0;
  }

  :where(.w-file-upload, .w-file-upload-default, .w-file-upload-uploading, .w-file-upload-success, .w-file-upload-error) {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: inherit;
  }

  :where(.w-file-upload-file, .w-file-upload-label, .w-file-upload-uploading-btn, .w-file-upload-error-msg, .w-file-upload-info, .w-file-upload-file-name) {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    box-shadow: none;
  }

  :where(.w-file-remove-link) {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  :where(.w-icon-file-upload-icon, .w-icon-file-upload-uploading) {
    width: auto;
    height: auto;
    margin: 0;
    color: inherit;
  }

  :where(.w-slider) {
    background: none;
    height: auto;
  }

  :where(.w-slider-nav, .w-slider-arrow-left, .w-slider-arrow-right) {
    color: inherit;
    background: none;
  }

  :where(.w-icon-slider-left, .w-icon-slider-right, .w-icon-nav-menu, .w-icon-dropdown-toggle, .w-icon-file-upload-remove) {
    color: inherit;
  }

  :where(.w-nav, .w-nav-menu, .w-nav-button, .w-dropdown-list, .w-dropdown-toggle, .w-dropdown-link) {
    background: none;
    color: inherit;
    box-shadow: none;
  }

  :where(.w-nav-link, .w-nav-brand) {
    color: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: none;
  }

  :where(.w-dropdown, .w-dropdown-btn) {
    margin: 0;
    background: none;
    color: inherit;
  }

  :where(.w-list-unstyled) {
    padding-left: 0;
    list-style: none;
  }

  :where(.w-tab-link) {
    color: inherit;
    background: none;
    padding: 0;
    text-decoration: none;
  }

  :where(.w--tab-active, .w--current, .w--nav-link-open, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open, .w--nav-dropdown-list-open, .w--open, .w-active) {
    background: none;
    color: inherit;
    box-shadow: none;
  }

  :where(.w-slider-dot) {
    width: auto;
    height: auto;
    margin: 0;
    background: none;
  }

  :where(.w-background-video) {
    color: inherit;
    height: auto;
    background: none;
  }

  :where(.w-background-video--control) {
    background: none;
  }

  :where(.w-lightbox-backdrop) {
    color: inherit;
    background: none;
    font: inherit;
  }

  :where(.w-lightbox-close) {
    background-image: none;
    background-color: transparent;
  }

  :where(.w-lightbox-strip) {
    padding: 0;
  }

  :where(.w-webflow-badge) {
    box-shadow: none !important;
    background: none !important;
    color: inherit !important;
    padding: 0 !important;
  }

  :where(.w-richtext figure.w-richtext-figure-type-image > div) {
    display: block;
  }

  :where(.w-richtext figcaption) {
    margin: 0;
    text-align: inherit;
  }
</style>